    * {
        margin: 0;
        padding: 0;
    }
    /* navbar*/
    
    #logo {
        margin: 10px 35px;
    }
    
    #logo img {
        border-radius: 50%;
        height: 50px;
    }
    
    #navbar {
        display: flex;
        align-items: center;
        position: relative;
        top: 0;
    }
    
    #navbar ul {
        display: flex;
        margin: 0 62px;
        font-family: 'Teko', sans-serif;
    }
    
    #navbar ul li {
        display: block;
        padding: 10px;
    }
    
    #navbar ul li a {
        list-style: none;
        text-decoration: none;
        margin: 0 12px;
        color: white;
        font-size: 1.8rem;
        border-radius: 20px;
        padding: 2px 20px;
    }
    
    #navbar ul li a:hover {
        color: black;
        background-color: white;
    }
    
    #navbar::before {
        content: "";
        background-color: #78DEC7;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: .4;
    }
    /* home*/
    
    #home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 362px;
        padding: 3px 200px;
        align-items: center;
    }
    
    #home::before {
        content: "";
        background: url(images/food4.jpg) no-repeat center center/cover;
        position: absolute;
        height: 600px;
        width: 100%;
        z-index: -1;
        top: 0;
        left: 0;
    }
    
    #home h1 {
        color: white;
        text-align: center;
        font-size: 60px;
        font-family: 'Teko', sans-serif;
    }
    
    #home p {
        color: white;
        text-align: center;
        font-size: 1.3rem;
        font-family: 'Raleway', sans-serif;
    }
    /*services*/
    
    #Services {
        margin: 124px;
    }
    
    .container {
        display: flex;
    }
    
    .item {
        border: 2px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 34px;
        margin: 3px 6px;
        background-color: #f2f2f2;
        border-radius: 23px;
    }
    /*clients*/
    
    #Clients {
        height: 500px;
    }
    
    #Clients h1 {
        color: black;
    }
    
    #Clients-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .clients-logo {
        margin: 60px 16px;
        padding: 30px;
        border-radius: 50%;
    }
    
    #Clients::before {
        content: "";
        background: url(images/food2.jpg) no-repeat center center/cover;
        position: absolute;
        height: 520px;
        width: 100%;
        z-index: -1;
        opacity: .7;
    }
    /*Menu*/
    
    #Menu {
        margin: 124px;
    }
    
    .Menu-container {
        display: flex;
    }
    
    .item {
        border: 2px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 34px;
        margin: 3px 6px;
        background-color: #f2f2f2;
        border-radius: 23px;
    }
    /*reviews*/
    
    #Review {
        margin: 124px;
    }
    
    .Review-container {
        display: flex;
    }
    
    .item {
        border: 2px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 34px;
        margin: 3px 6px;
        background-color: #f2f2f2;
        border-radius: 23px;
    }
    /*contact us*/
    
    #Contacts {
        margin-top: 21px;
    }
    
    #Contacts::before {
        content: "";
        background: url(images/contact.jpg) no-repeat center center/cover;
        height: 240px;
        width: 100%;
        z-index: -1;
        opacity: .7;
        position: absolute;
    }
    
    .contacts-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 20px;
        top: 0;
        left: 0;
    }
    
    .mail {
        display: block;
        margin: 0 30px;
    }
    /*membership*/
    
    #Membership {
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3px 200px;
        align-items: center;
        margin: 30px;
    }
    
    #Membership-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    #Membership h1 {
        font-family: 'Teko', sans-serif;
        color: aliceblue;
        font-size: 80px;
    }
    
    .com {
        font-family: 'Teko', sans-serif;
        color: aliceblue;
        font-size: 25px;
    }
    
    #Membership::before {
        content: "";
        background: url(images/membership.jpg) no-repeat center center/cover;
        position: absolute;
        height: 560px;
        width: 100%;
        z-index: -1;
        opacity: .9;
    }
    /*utility clases*/
    
    .h-primary {
        font-size: 2.8rem;
        padding: 52px;
    }
    
    h2 {
        font-size: 1.6rem;
        padding: 12px;
    }
    
    .btn {
        padding: 6px 20px;
        border: 2px solid white;
        color: white;
        background-color: brown;
        margin: 17px;
        border-radius: 30%;
        cursor: pointer;
    }
    
    .btn:hover {
        color: black;
        background-color: white;
    }
    
    .center {
        text-align: center;
    }